.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    border-bottom: 1px ridge;
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    min-height: 400px;
}

.footer {
    background-color: #D1C4E9;
    padding: 20px 0px;
    margin: 0px auto;
}

.jumbotron {
    padding: 70px 30px;
    margin: 0px ;
    background-color: #9575CD;
    color: floral-white;
}

.address {
    font-size: 80%;
    color: #0f0f0f;
    margin: 0px;
}

hr {
    width: 100%;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #512DA8;
}